$navy_blue: rgb(0, 0, 22);
$button_bg: linear-gradient(to right, #000013, #000654);

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000016 #2f3442;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }
  *::-webkit-scrollbar {
    width: 14px;
  }
  *::-webkit-scrollbar-track {
    background: #1a2135;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000016;
    border-radius: 7px;
    border: 1px solid #000016;
  }
html{
    height: 100%;
}
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Hubballi', cursive;
    color: $navy_blue;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Hubballi', cursive;
    color: $navy_blue;
}
nav{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    transition: .3s;
}
main{
    transition: .3s;
}
textarea {
    resize: none;
    font-family: 'Hubballi', cursive;
}
button{
    position: relative;
    z-index: 5;
    padding: .6rem 1.5rem;
    border-radius: 12px;
    background: $button_bg;
    color: white;
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: 2px;
    box-shadow: 0 0 2px rgb(0, 0, 19);
    border: none;
    opacity: .8;
}
button:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
}
button:focus{
    transform: scale(.9);
}
a{
    color: white;
    font-size: 1rem;
}
h2{
    margin: 0;
    // margin-left: 1.5rem;
    font-size: 3rem;
    font-variant: small-caps;
    text-align: center;
}

.menu{
    transform: translateY(-100vh);
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 2, 0.9);
    color: white;
    font-size: 2rem;
    transition: .3s;
}
.menu_close_wraper{
    display: flex;
    justify-content: end;
    padding: 1rem;
}
#close{
    height: 2.5rem;
}
.menu_option{
    width: 100%;
    margin: 1rem;
    cursor: pointer;
    text-align: center;
}
.menu_options_wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 100vh;
    margin-top: -3.8rem;
    background-image: url('img/bg.png');
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
.wraper{
    padding: 6rem 4rem;
    background-position: center;
}
.icons{
    position: relative;
    z-index: 5;
    height: 1.5rem;
    cursor: pointer;
}
.icons:hover{
    transform: scale(1.1);
}
.nav_social_icons{
    display: flex;
    align-items: center;
}
.nav_social_icons .icons{
    margin-right: .5rem;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    // height: 90vh;
    width: 50%;
    padding: 15rem 4rem;
}
.home_logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
}
.home_gear{
    height: 3.5rem;
    margin-right: 1rem;
}
.home_describe{
    width: 70%;
    margin-top: 3rem;
}
.home_bottom_arrow{
    position: relative;
    z-index: 6;
    display: flex;
    justify-content: center;
}
.bottom_arrow_img{
    height: 1rem;
    margin: -3rem 0 2rem 0;
    cursor: pointer;
}
.bottom_arrow_img:hover{
    transform: scale(1.1);
}


.comp_build{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(img/comp_build.png);
    background-size: cover;
    color: white;
}
.comp_build_container{
    width: 50%;
}
.comp_build_frame{
    display: inline-block;
    position: relative;
    margin: 0;
}
.content{
    margin: 1rem 1.5rem;
    font-size: 1.2rem;
    line-height: 2;
    text-indent: 2rem;
}
.comp_build_frame:before,
.comp_build_frame:after {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '';
}

.comp_build_frame:before {
  right: 0;
  top: 0;
  border-right: 2px solid white;
  border-top: 2px solid white;
}

.comp_build_frame:after {
  left: 0;
  bottom: 0;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}


.about_us_content_wraper{
    margin: 2rem 7rem;
}
.about_us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(img/about_us_bg.png);
    background-size: cover;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(img/contact_bg.png);
    background-size: cover;
    background-position: center;
    font-size: 1.2rem;
}
.contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    color: white;
    backdrop-filter: blur(1rem);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 0 .5rem;
}
.contact_form h2{
    margin: 1.5rem 0;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    // height: 80%;
}
.form_group{
    display: flex;
    flex-direction: column;
    margin: 1rem .5rem;
}
.input{
    // width: 80%;
    background-color: transparent;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #ffffff42;
    color: white;
}
.buttons_wraper{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem .5rem 2rem .5rem;
}
.to_top_arrow{
    position: sticky;
    z-index: 4;
    bottom: 1rem;
    right: .5rem;
    width: 98%;
    display: flex;
    justify-content: end;
    cursor: pointer;
    padding-right: .7rem;
    margin-top: -6rem;
}
.arrow{
    height: 6rem;
    opacity: .85;
}
.arrow:hover{
    transform: scale(1.1);
    opacity: 1;
}
.footer_p{
    margin: 0;
    background-color: #000016;
    color: white;
    font-size: 1rem;
    text-align: end;
    padding-right: .5rem;
}

// @media (max-width: 1500px){
//     .contact_form{
//         width: 45%;
//     }
// }
// @media (max-width: 1300px){
//     .contact_form{
//         width: 50%;
//     }
// }
@media (max-width: 1200px){
    .comp_build_container {
        width: 75%;
    }
    .about_us_content_wraper{
        margin: 0;
        margin-top: 2rem;
    }
    // .contact_form{
    //     width: 55%;
    // }
}
@media (max-width: 1000px){
    .contact_form{
        width: 55%;
    }
}
@media (max-width: 900px){
    .comp_build_container {
        width: 80%;
    }
    // .contact_form{
    //     width: 80%;
    // }
}
@media (max-width: 800px){
    .home {
        padding: 6rem 3rem;
    }
    .home_logo{
        font-size: 4.5rem;
    }
    .home_describe{
        width: 80%;
    }
    .comp_build_container {
        width: 90%;
    }
    .icons{
        height: 1.3rem;
    }
    .content{
        font-size: 1rem;
    }
    .contact{
         background-image: url('img/contact_bg_mobil.png');
        // padding: 5% 20%;
    }
    .contact_form{
        width: 75%;
    }
}
@media (max-width: 700px){
    .wraper{
        padding: 4rem 1rem;
    }
    .home_logo{
        font-size: 4rem;
    }
    .home_describe{
        margin: 3rem 0;
    }
    .about_us_content_wraper{
        margin-top: 0;
    }
    // .contact_form{
    //     width: 80%;
    // }
}
@media (max-width: 600px){
    .footer_p{
        font-size: .7rem;
        
    }
}
@media (max-width: 500px){
    .container{
        justify-content: space-around;
        background-image: url(img/mobile_bg.png);
    }
    .home_wraper{
    }
    .home{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 90vh;
        padding: 0;
    }
    .home_logo{
        // margin-bottom: 15rem;
        color: white;
        font-size: 6rem;
        // margin: 5rem 0;
        // font-variant: small-caps;
    }
    .home_describe{
        margin: 0;    
    }
    .wraper{
    padding: 2rem 0;   
    }
    h2{
        margin-bottom: 2rem;
    }
    .content{
        margin: 0 .7rem;
    }
    .about_us_content_wraper{
        padding: 0 1rem;
    }
    button{
        padding: .3rem .6rem;
        border-radius: 6px;
        font-weight: 500;
    }
    .arrow{
        height: 4rem;
        width: 4rem;
    }
    .footer_p{
        margin-top: 2rem;
    }
}
@media (max-width: 470px){
    .form_group{
        margin: .5rem;
    }
    // .home_describe{
        //     margin: 5rem 0;    
        // }
        // .contact_form{
            //     width: 75%;
            // }
            
}
@media (max-width: 400px){
    a{
        font-size: .7rem;
    }
    // .home_describe{
    //     margin: 3rem 0;    
    // }
    .footer_p{
        font-size: .6rem;
    }
}